.footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  border-top: 1px solid #555;
  @media(max-width: 600px) {
    display: block;
    .writer, .menus {
      text-align: center;
    }
    .writer {
      margin-top: 1.5rem;
      font-size: 0.75rem;
    }
  }
  a {
    font-size: 0.8125rem;
    padding: 0.25rem 0.5rem;
    font-weight: 300;
    &.writer {
      font-weight: 600;
    }
  }
}