.header {
  .desktop-header {
    @media(max-width: 767px) {
      display: none;
    }
  }
  .mobile-cover {
    .mobile-header {
      @media(min-width: 768px) {
        display: none;
      }
      display: flex;
      justify-content: space-between;
      padding: 1rem 0 0.5rem;
      .logo {
        img {
          width: 40px;
          height: 40px;
        }
      }
      .items-cover {
        button {
          background: none;
          border: none;
        }
        .toggler {
          padding: 0.25rem;
          img {
            width: 25px;
            height: 25px;
          }
        }
      }
    }
    .menus {
      display: block;
      .menu-item {
        &.user {
          font-weight: 800;
          text-decoration: underline;
        }
        &.logout {
          padding: 0.5rem 1rem;
          color: rgb(235, 50, 26);
          font-weight: 800;
          cursor: pointer;
        }
        a {
          text-transform: uppercase;
          font-weight: 500;
          padding: 0.5rem 1rem;
          &.cart {
            span {
              left: 2.25rem;
            }
          }
        }
      }
    }
  }

  .logo {
    a {
      img {
        width: 140px;
        height: auto;
      }
    }
  }

  .menus {
    display: flex;
    align-items: center;
    padding-right: 1rem;
    .menu-item {
      padding: 0.5rem 1rem;
      &.user {
        font-weight: 800;
        text-decoration: underline;
        text-transform: capitalize;
        a {
          font-size: 1rem;
        }
      }
      &.logout {
        padding: 0.5rem 1rem;
        color: rgb(235, 50, 26);
        font-weight: 800;
        cursor: pointer;
      }
      a {
        color: #555;
        font-weight: 300;
        font-size: 0.875rem;
        &:active, &:hover{
          font-weight: 400;
          color: #222;
        }
        &.cart {
          position: relative;
          img {
            width: 22px;
            height: 22px;
          }
          span {
            padding: 2px 6px;
            font-size: 0.5rem;
            color: #fff;
            background-color: #333;
            border-radius: 50%;
            position: absolute;
            top: -0.25rem;
            display: block;
            left: 0.975rem;
          }
        }
      }
    }
  }
}