.homepage {
  margin-bottom: 2rem;
  .banner {
    width: 100%;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: url('../../images/home-banner.jpg');
    filter: grayscale(1);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom-left-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
    @media(max-width: 767px) {
      height: 520px;
      padding: 1rem;
    }
    .entry-content {
      color: #FFF;
      p {
        margin-bottom: 0;
      }
      h1, p {
        text-shadow: 2px 2px 3px #000;
      }
      a.bttn {
        margin: 1rem auto 0;
      }
    }
  }
  .main-menu {
    margin-top: 3rem;
    a.menu-cover {
      height: 330px;
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
      background-position: 50%;
      background-size: cover;
      overflow: hidden;
      .menu {
        width: 100%;
        height: 100%;
        background-color: hsla(0, 0%, 100%, 0.33);
        background-blend-mode: overlay;
        background-position: 80%;
        background-size: cover;
        border: 1px solid #fafafa;
        border-radius: 0.125rem;
        transition: all 0.5s ease-in-out;
        margin-bottom: 1rem;
        &:hover {
          background-color: hsla(0, 0%, 100%, 0.11);
          background-position: 60%;
          background-repeat: no-repeat;
        }
      }
      .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0 1rem;
        color: #000;
        position: absolute;
        bottom: 1.75rem;
        text-transform: uppercase;
        .title {
          font-weight: 700;
          font-size: 1rem;
          margin-bottom: 0.35rem;
        }
        .subtitle {
          font-weight: lighter;
          font-size: 0.625rem;
          color: #555;
        }
      }
    }
  }
  .ads {
    height: 200px;
    width: 98%;
    margin: 3rem auto;
    @media(max-width: 767px) {
      width: 95%;
    }
    .ads-banner {
      background-image: url('../../images/ads-banner.jpg');
      background-size: cover;
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-color: hsla(180, 100%, 60%, 0.33);
      background-blend-mode: overlay;
      border-radius: 0.25rem;
      padding: 0.5rem;
      .tag {
        color: #EAEAEA;
        text-shadow: 1px 1px 1px #d5d4d7;
        font-size: 1.25rem;
        @media(max-width: 767px) {
          font-size: 1rem;
        }
      }
    }
  }

  .arrivals {
    margin: 3rem auto 1rem;
    .arrival {
      border-radius: 0.25rem;
      background-blend-mode: overlay;
      background-color: hsla(0, 0%, 19%, 0.150);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      height: 400px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      .arrival-item {
        padding: 0.5rem 2rem;
        color: #FFF;
        text-shadow: 2px 2px 3px #000;
        h2 {
          font-size: 1.75rem;
          font-weight: 500;
          width: 70%;
        }
        p {
          font-size: 0.875rem;
          text-transform: capitalize;
        }
      }
    }
  }

  .categories {
    width: 100%;
    padding: 0 0.5rem;
    .title {
      font-size: 1.5rem;
      font-weight: 700;
      color: #222;
      margin-bottom: 1.5rem;
      &:after {
        content: ' ';
        display: block;
        width: 1rem;
        height: 0.25rem;
        background-color: #c8ff0b;
      }
    }
    .collections {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      .collection {
        margin-bottom: 1.5rem;
        .tile {
          font-size: 1rem;
          font-weight: 300;
          text-transform: uppercase;
          position: relative;
          margin-bottom: 0.75rem;
          &:after {
            content: ' ';
            display: block;
            width: 0.75rem;
            height: 0.125rem;
            background-color: #c8ff0b;
            position: absolute;
            top: 100%;
            left: 0;
          }
        }
      }
    }
  }
}