.signin {
  min-height: 90vh;
  display: flex;
  align-items: center;
  .sign-up-in {
    min-height: 66vh;
    padding-top: 2.25rem;
    text-align: center;
  }
  .tabbed {
    display: flex;
    justify-content: center;
    align-items: center;
    .tab {
      cursor: pointer;
      font-weight: 500;
      color: #888;
      transition: all 0.25s ease-in-out;
      border-bottom: 2px solid #FFFFFF;
      margin-right: 1.75rem;
      &:hover, &.active {
        color: #262626;
        font-weight: 800;
        border-bottom: 2px solid #262626;
      }

    }
  }
  .submit {
    display: flex;
    margin-top: 2rem;
    justify-content: center;
  }
  input.form-item {
    width: 99%;
  }
}

.create-product {
  min-height: 70vh;
  margin-bottom: 3rem;
  input, textarea, select {
    width: 99%;
  }
  .submit {
    display: flex;
    justify-content: center;
  }
}

.upload-file {
	input {
		display: none;
  }
  label {
    width: 100%;
    margin: 1.5rem 0 0;
  }
	label img {
		width: 65px;
		height: 65px;
		display: block;
		margin: 0.5rem auto;
		&:hover {
			cursor: pointer;
		}
	}
}