@font-face {
	font-family: "Segoi UI";
	src: url("../fonts/Segoi.ttf");
}


body {
    font-family: 'Segoi UI';
    color: #222222;
    background-color: #FFFFFF;
}

#root {
    max-width: 100vw;
    overflow-x: hidden;
}

.brc-content {
	width: 100%;
	margin: 2.5rem 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	// padding: 1rem 1.5rem;
	.title {
		text-transform: uppercase;
		font-size: 2.5rem;
		font-weight: 800;
		&:after {
			content: ' ';
			display: block;
			width: 3rem;
			height: 0.25rem;
			background-color: #c8ff0b;
		}
	}
	.br-crumb {
		color: #555;
		font-size: 0.75rem;
		span.divider {
			color: #222;
			margin: 0 0.25rem;
		}
	}
}

.hide {
		display: none !important;
}

input, button, select, textarea {
	&:active, &:focus {
		outline: none;
	}
}
a {
	color: #444;
	&:hover {
		text-decoration: none;
		color: #000;
	}
}

.bttn {
	display: flex;
	width: auto;
	min-width: 144px;
	max-width: 180px;
	height: 45px;
	letter-spacing: 0.5px;
	line-height: 45px;
	font-size: 0.875rem;
	text-transform: uppercase;
	font-weight: 400;
	justify-content: center;
	cursor: pointer;
	padding: 0px 25px;
	transition: all 0.5s ease 0s;
	text-decoration: none;
	border: none;
	position: relative;
	.loader {
		opacity: 1;
		position: absolute;
		right: 7px;
		top: 52%;
		height: 18px;
		width: 18px;
		background-color: transparent;
		box-sizing: border-box;
		border-radius: 50%;
		border-top: 2px solid #fff;
		border-left: 2px solid #fff;
		border-bottom: 2px solid #fff;
		border-right: 2px solid rgba(#fff, 0.35);
		transition: all 0.5s ease;
		animation-name: spin;
		animation-duration: 0.75s;
		animation-iteration-count: infinite;
		animation-timing-function: linear;
	}

	@media(max-width: 680px) {
		font-size: 0.75rem;
	}
	img {
		width: 16px;
    height: 16px;
    position: relative;
    top: 0.875rem;
		margin-left: 1rem;
		&.left {
			margin-left: 0;
			margin-right: 1rem;
		}
	}
	&.primary {
		color: white;
		background-color: rgb(15, 22, 28);
	}
	&.secondary {
		background-color: #c8ff0b;
		color: #262626;
		max-width: max-content;
		font-weight: 800;
		margin: auto;
		border: none;
	}
	&:hover {
		background-color: white;
		color: #000000;
		border: 1px solid rgb(221, 221, 221);
		.loader {
			border-top: 2px solid #000000;
			border-left: 2px solid #000000;
			border-bottom: 2px solid #000000;
		}
	}
}

.form-item {
	width: 98%;
	height: 44px;
	border: 1px solid #333;
	color: #333;
	font-size: 0.875rem;
	padding: 0.5rem 1rem;
	margin: 1.75rem auto 0;
	background: none;
	@media(min-width: 992px) {
		width: 80%;
	}
}

.placeholder {
	font-size: 0.875rem;
	text-align: center;
	font-weight: 500;
	color: #444;
}
textarea.form-item {
	height: 200px;
	margin-bottom: 1.5rem;
	padding: 1rem;
}

ul.coll {
	list-style: none;
	padding-left: 0.125rem;
	&.large {
		li a {
			font-size: 0.935rem;
		}
	}
	li {
		margin-bottom: 0.25rem;
		a {
			color: #333;
			font-size: 0.8125rem;
			letter-spacing: 0.5px;
			&:hover {
				text-decoration: underline;
			}
		}
	}
}
.large-screens-only {
	@media(max-width: 991px) {
		display: none !important;
	}
}
.small-screens-only {
	@media(min-width: 992px) {
		display: none !important;
	}
}

.searchbar {
	display: flex;
	justify-content: flex-start;
	position: relative;
	input {
		width: 99%;
	}
	img {
		width: 18px;
		height: 18px;
		position: absolute;
		right: 1rem;
		top: 0.75rem;
	}
}
.pagination {
	display: flex;
	justify-content: flex-end;
	margin: 1.25rem 0 2rem;
	a {
		display: block;
		color: #fff;
		background-color: #333;
		border: 1px solid #333;
		margin-right: 0.5rem;
		padding: 0.5rem 0.875rem;
		transition: all 0.3s ease-in-out;
		&:hover {
			background: #fff;
			color: #333;
			border: 1px solid #333;
		}
	}
}
.slide-in {
	position: relative;
	animation: slideIn 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

@keyframes slideIn {
	from {
		transform: translateY(1rem);
	}

	to {
		transform: translateY(0);
	}
}


@keyframes spin {
    from {transform: translateY(-50%) rotate(0deg);}
    to {transform: translateY(-50%) rotate(360deg);}
}